<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'images/bg_signin.jpg' %})">
					<span class="login100-form-title-1">
						Registration
					</span>
				</div>

				<form class="login100-form validate-form" action="register" method="post">
                    {% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Voter Id is required">
						<span class="label-input100">Voter Id</span>
                        <input class="input100" type="text" name="voterid" placeholder="Enter Voter Id"><span>{{ voteriderror }}</span>
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Name is required">
						<span class="label-input100">Name</span>
						<input class="input100" type="text" name="name" placeholder="Enter Name as on Voter Card">
						<span class="focus-input100"></span>
					</div>
                     <div class="wrap-input100 validate-input m-b-26" data-validate="Father's Name is required">
						<span class="label-input100">Father's Name</span>
						<input class="input100" type="text" name="fathername" placeholder="Enter Father's Name as on Voter Card">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Create Password">
						<span class="focus-input100"></span>
					</div>

                    <div class="input100 validate-input m-b-18" data-validate = "Photo is required">
						<span class="label-input100">Upload Photo </span>
						<input class="input100" style="padding-top: 2%" type="file" name = "image" accept="image/jpeg"  >
					</div>
                    <div class="input100 validate-input m-b-18" style="padding-top: 2%"data-validate = "Gender is required">
						<span class="label-input100">Gender </span>
						<input type="radio" style="padding-top: 5%" name="gender" value="1" checked> Male
                        <input type="radio" style="padding-top: 5%" name="gender" value="2"> Female
                        <input type="radio" style="padding-top: 5%" name="gender" value="3"> Other<br>
					</div>
                    <div class="input100 validate-input m-b-18" data-validate = "Date of Birth is required">
						<span class="label-input100">Date of Birth </span>
						<input class="input100" style="padding-top: 2%" type="date" name = "dob" accept="image/jpeg"  >
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Mobile No is required">
						<span class="label-input100">Mobile No</span>
						<input class="input100" type="text" name="mobileno" placeholder="Enter Mobile Number">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Age is required">
						<span class="label-input100">Age</span>
						<input class="input100" type="number" name="age">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<input type="submit" class="login100-form-btn" value="Register">

                    </div>
                      <div >
                        <label  class = "txt1" style="padding-top: 10%;padding-left: 130%" ></label>
                        <a href="\" class = "btn btn-default btn-lg active" role="button" style="padding-left:500%;color: #218838; font-size: small">Sign in -></a>

                    </div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>